<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>参数配置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../dist/css/mui.min.css">
    <link rel="stylesheet" href="../dist/css/self-css/public.css">
    <link rel="stylesheet" href="../dist/css/self-css/item.css">
</head>

<body>
<!-- 底部咨询电话 -->
<nav class="mui-bar mui-bar-tab mui-bar-button">
    <a id="telphone">
        <button type="button" class="mui-btn mui-btn-blue mui-btn-block footer-tel"><span class="mui-icon mui-icon mui-icon-phone"></span>商家咨询</button>
    </a>
</nav>

<div class="mui-content mui-scroll-wrapper" id="scroll">

    <div class="mui-scroll">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell item-margin mui-media">
                <a href="javascript:;">
                    <figure class="mui-pull-left list-img"><img class="imageText-img" id="itemPic" src=" "></figure>
                    <div class="mui-media-body">
                        <div class="details-title mui-h5">
                            <b class="black height38 mui-ellipsis mui-block" id="details-title"> </b>
                        </div>
                        <div class="details-title padding-top5">
                            <span id="date" class="mui-h6 mui-pull-left"> </span>
                            <span class="mui-h6 mui-pull-left"><span id="kilometre"> </span>万公里</span>
                            <span class="mui-h4 mui-pull-left orange">
                                <b id="amount"> </b><span class="mui-h6 orange">万</span>
                            </span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>

        <div id="warp-box">

        </div>
    </div>
</div>

<!--返回顶部-->
<a id="scrollToTop" class="backTop mui-hidden"></a>

<script src="../dist/js/mui.min.js"></script>
<script src="../dist/js/common.util.js"></script>
<script src="../dist/js/common.mui.js"></script>
<script src="../dist/js/item.detail.js"></script>
<script src="../dist/js/api.config.js"></script>
<script type="text/javascript" charset="utf-8">
    mui.init({
        pullRefresh: {
            container: "#scroll",//下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
            down: {
                height: 50,//可选,默认50.触发下拉刷新拖动距离,
                auto: true,//可选,默认false.自动下拉刷新一次
                contentdown: "下拉可以刷新",//可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
                contentover: "释放立即刷新",//可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
                contentrefresh: "正在刷新...",//可选，正在刷新状态时，下拉刷新控件上显示的标题内容
                callback: refreshData //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
            }
        },
        swipeBack: true //启用右滑关闭功能
    });

    /**
     * 下拉刷新页面
     */
    function refreshData() {
        renderItemBox();
        renderItemDetailBox();
        this.endPulldownToRefresh(true);
    }
</script>
</body>

</html>
