<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>特价车</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="../dist/css/mui.min.css">
	<link rel="stylesheet" href="../dist/css/mui.picker.min.css">
	<link rel="stylesheet" href="../dist/css/self-css/public.css">
	<link rel="stylesheet" href="../dist/css/self-css/index.css">
</head>

<body>

		<div id="scroll" class="mui-scroll-wrapper mui-content">
			<div class="mui-scroll">
			<!--  tab 切换-->
			<div style="padding: 10px;">
				<div id="segmentedControl"
					 class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
				</div>
			</div>
			</div>
		</div>
<script src="../dist/js/jquery-3.1.0.min.js"></script>
<script src="../dist/js/mui.min.js"></script>
<script src="../dist/js/index.js"></script>
</body>
</html>
